*{
    font-family:arial,helvetica,sans-serif; ;
}

 body{
   background:f1fbff;;
}  
.h2{
    font-size:500px ;
}
.section-padding{
    padding: 100px 0;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(39, 35, 35);
    z-index: 1;
}
.carousel-inner::after{
    font-size: large;
}